body {
  background-color: #1a1a1a;
  color: white !important;
}
.logo {
  width: 125px;
}
.resume {
  background-color: #0dcaf0;
  border-radius: 4px;
  list-style: none;
  width: 110px;
  border-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.img-resume {
  width: 20px;
}
.banner {
  margin-inline: 65px;
}
.hcolor {
  color: #00ffff;
  font-size: 70px;
}
.banner-img {
  width: 298px;
}
.portfolio {
  margin-inline: 240px;
}
.sub-portfolio {
  border: 1px solid gray;
  height: 385px;
}
.tags {
  background-color: gray;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
}
.my-education {
  width: 534px;
}
.skills {
  margin-inline: 258px;
}
.contact {
  width: 665px;
  height: 365px;
  box-shadow: 5px 10px 8px #808080;
  border: 1px solid white;

  /* margin-inline: 380px; */
}
.input {
  background-color: #1a1a1a;
  width: 232px;
  height: 56px;
  border: 1px solid gray;
}
