body {
  background-color: #1a1a1a;
  color: white !important;
}
.logo {
  width: 125px;
}
.resume {
  background-color: #0dcaf0;
  border-radius: 4px;
  list-style: none;
  width: 110px;
  border-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.img-resume {
  width: 20px;
}
.banner {
  margin-inline: 65px;
}
.hcolor {
  color: #00ffff;
  font-size: 70px;
}
.banner-img {
  width: 298px;
}
